---
import Card from "../components/Card.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { getHome } from "../lib/sanity/repository";

const pageData = await getHome();
---

<Layout title={pageData.title} pageSeo={pageData.seo} pageSlug={pageData.slug}>
  <div>CoNtEnT</div>
</Layout>
