---
import Card from "../components/Card.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { getHome } from "../lib/sanity/repository";

const pageData = await getHome()
// console.log({pageData});
// console.log(pageData.seo);
---

<Layout title={pageData.title} seo={pageData.seo}>

  <div>CoNtEnT</div>

</Layout>
