---
import Card from "@/components/Card.astro";
import Welcome from "@/components/Welcome.astro";
import BlocksRenderer from "@/components/BlocksRenderer/BlocksRenderer.svelte";
import Layout from "@/layouts/Layout.astro";
import { getHome } from "@/lib/sanity/repository";

const pageData = await getHome();
---

<Layout title={pageData.title} pageSeo={pageData.seo} pageSlug={pageData.slug}>
  <main>
    <BlocksRenderer blocks={pageData.blocks} client:load />
  </main>
</Layout>
