/* Default Form Style
------------------------ */
.form-field-wrapper {
  position: relative;
  margin-bottom: 2rem;
}

label {
  margin: 0 0 4px 0;
  font-size: var(--text-scale-18);
  line-height: 1.25;
  color: var(--color-white);
}

form {
  input,
  textarea,
  select {
    width: 100%;
    height: 36px;
    margin: 0;
    padding: 0 16px;
    border: 1px solid var(--theme-ui-border);
    font-size: var(--text-scale-18);
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: 0;
    color: var(--theme-ui-foreground);
    background-color: var(--theme-ui-form-background);

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &::placeholder,
    &:-internal-autofill-selected {
      font-family: var(--font-family-body);
      font-size: var(--text-scale-18);
      line-height: 1.25;
      font-weight: 400;
      letter-spacing: 0;
      color: var(--theme-ui-foreground);
    }

    &:focus, &:focus-visible {
      border-color: var(--theme-ui-border-focus);
    }

    // error
    &[aria-invalid="true"] {
      margin-top: 4px;
      color: var(--color-error);
      border: 2px solid var(--color-error);
      font-size: var(--text-scale-18);
      line-height: 1.2;
      font-weight: var(--font-weight-bold);
      //letter-spacing: var(--token-label-02-letter-spacing);
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath style='mix-blend-mode:multiply' d='M0 0h16v16H0z'/%3E%3Cpath d='M8 1C4.15 1 1 4.15 1 8s3.15 7 7 7 7-3.15 7-7-3.15-7-7-7Zm-.55 3h1.1v5.5h-1.1V4ZM8 12.5c-.4 0-.75-.35-.75-.75S7.6 11 8 11s.75.35.75.75-.35.75-.75.75Z' fill='%23FF8389'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 99% center;
    }

    // optional helper
    + p:not([role="alert"]) {
      margin: 4px 0 0 0;
      border: 2px solid var(--color-dark);
      font-size: var(--text-scale-14);
      line-height: 1.2;
      --text-weight: var(--font-weight-extra-light);
    }

    // error helper
    + [role="alert"] {
      color: var(--color-error);
      border: 2px solid var(--color-error);
      font-size: var(--text-scale-18);
      line-height: 1.2;
      font-weight: var(--font-weight-bold);
    }
  }

  input[type=checkbox],
  input[type=radio] {
    width: 20px;
    height: 20px;
  }

  textarea {
    height: auto;
    padding: 0.5rem 1rem;
  }
}

/**
    TOGGLE
 */
.toggle {
  --background: 0 0% 100%;
  --shadow-mini: 0px 1px 0px 1px rgba(0, 0, 0, .04);
  --shadow-mini-inset: 0px 1px 0px 0px rgba(0, 0, 0, .04) inset;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --dark-10: 240 6% 10% / .1;
  --foreground: 0 0% 9%;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;

  position: relative;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  width: 60px;
  height: 36px;
  min-height: 36px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 9999px;
  border: 1px solid var(--color-dark);
  cursor: pointer;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--foreground) / var(--tw-bg-opacity));

  &[data-state="unchecked"] {
    --tw-shadow: var(--shadow-mini-inset);
    --tw-shadow-colored: var(--shadow-mini-inset);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: hsl(var(--dark-10));
  }

  &[data-state="checked"] {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--foreground) / var(--tw-bg-opacity));
  }
}

.toggle-thumb {
  position: absolute;
  //opacity: 0;
  pointer-events: none;
  display: block;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin: 0;
  border: 0;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--background) / var(--tw-bg-opacity));
  transform: translateX(-100%);
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;

  &[data-state="unchecked"] {
    --tw-shadow: var(--shadow-mini);
    --tw-shadow-colored: var(--shadow-mini);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

    --tw-bg-opacity: 1;
    background-color: hsl(var(--background) / var(--tw-bg-opacity));
  }

  &[data-state="checked"] {
    --tw-translate-x: 1.2rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}


/**
  DATE INPUT
 */
.date-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 230px;
}

.date-input-segments-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 230px;
  height: 3rem;
  padding: .75rem .5rem;
  border-color: var(--color-dark);
  border-width: 1px;
  border-radius: 9px;
  user-select: none;
}

.date-input-segment {
  display: inline-block;
  user-select: none;

  &:hover,
  &:focus-visible {
    background-color: var(--color-brand);
  }
}

.date-input-segment-literal {
  padding: .25rem;
  color: var(--color-dark);
  outline: none;
}

.date-input-segment-datepart {
  // rounded-5px px-1 py-1 hover:bg-muted focus:bg-muted focus:text-foreground focus-visible:!ring-0 focus-visible:!ring-offset-0 aria-[valuetext=Empty]:text-muted-foreground
  padding: .25rem .25rem -0.75rem;
  border-radius: 5px;
  color: var(--color-dark);
}
