html[data-theme='light'] {
  --theme-foreground: var(--color-light-foreground);
  --theme-background: var(--color-light-darkest);
  --theme-background-alt: var(--color-light-dark-alt);
  --theme-hover: var(--color-light-hover);
  --theme-highlight: var(--color-light-highlight);
}

html[data-theme='dark'] {
  --theme-foreground: var(--color-dark-foreground);
  --theme-background: var(--color-dark-darkest);
  --theme-background-alt: var(--color-dark-dark-alt);
  --theme-hover: var(--color-dark-hover);
  --theme-highlight: var(--color-dark-highlight);
}

:root {
  // defaults
  --theme-foreground: var(--color-dark-foreground);
  --theme-background: var(--color-dark-darkest);
  --theme-background-alt: var(--color-dark-dark-alt);
  --theme-hover: var(--color-dark-hover);
  --theme-highlight: var(--color-dark-highlight);


  --theme-ui-background-primary: var(--color-primary);
  --theme-ui-foreground-primary: var(--theme-foreground);
  --theme-ui-background-primary-focus: var(--theme-foreground);
  --theme-ui-foreground-primary-focus: var(--color-primary);
  --theme-ui-background: var(--theme-background-alt);
  --theme-ui-foreground: var(--theme-foreground);
  --theme-ui-background-focus: var(--color-primary);
  --theme-ui-foreground-focus: var(--theme-foreground);
  --theme-ui-border: var(--theme-highlight);
  --theme-ui-border-focus: var(--color-primary);

  --theme-ui-form-background: var(--theme-background-alt);
}
