.auth-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: transparent url('/img/flashcards1.jpg') no-repeat center center fixed;

  svg {
    width: 100%;
    max-width: 300px;
  }
}

.auth-wrapper {
  width: 80vw;
  //margin-top: 20vh;
  padding: 2rem;
  border-radius: var(--global-radius);
  background: rgba(0, 0, 0, .6);

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
