
@keyframes breathe {
  0% {
    font-variation-settings: 'wght' var(--text-weight-max), 'wdth' 80;
  }
  60% {
    font-variation-settings: 'wght' var(--text-weight-min), 'wdth' 110;

  }
  100% {
    font-variation-settings: 'wght' var(--text-weight-max), 'wdth' 80;
  }
}

@keyframes breathe2 {
  0% {
    font-weight: var(--text-weight-max);
  }
  60% {
    font-weight: var(--text-weight-min);

  }
  100% {
    font-weight: var(--text-weight-max);
  }
}
