---
import { type SeoOrFaviconTag } from '@datocms/astro/Seo';
import { Seo } from '@datocms/astro/Seo';
import { commonQuery } from '@/queries/_common.query';
import { executeDatoCmsQuery } from '@/lib/datocms';
import type { Menu, SiteMetaTags } from '../lib/datocms/types';
import Header from '@/components/Header.svelte';
import Footer from '@/components/Footer.svelte';
import '@/styles/app.scss';
import { executeCmsQuery } from '@repo/datocms-adapter';

interface Props {
	title?: string;
	seo?: SeoOrFaviconTag[];
}

interface CommonQueryResult {
	site: SiteMetaTags;
	menu: Menu;
}

const { title, seo } = Astro.props;

const result: CommonQueryResult = await executeCmsQuery(commonQuery);
const { site, menu }: CommonQueryResult = result;
---

<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!--<link rel="sitemap" href="/sitemap-index.xml" />-->
		<!--<title>{title}</title>-->

		{seo && <Seo data={[...seo, ...site.favicon]} />}
	</head>
	<body>
		<Header menu={menu} />
		<slot />
		<Footer />
	</body>
</html>
