---
import '@/styles/app.scss';
import { type SeoOrFaviconTag } from '@datocms/astro/Seo';
import { Seo } from '@datocms/astro/Seo';

interface Props {
	title: string;
	seo?: SeoOrFaviconTag[];
}

const { title, seo } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!--<link rel="sitemap" href="/sitemap-index.xml" />-->
		<title>{title}</title>

		{seo && <Seo data={seo} />}
	</head>
	<body>
		<slot />
	</body>
</html>
